<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div style="display: flex;">
        <ul>
            {% for student in students %}
                <li>{{student.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="/first_page/" class="btn">First Page</a>
    </div>
</body>
</html>